/** General Settings and Variables **/

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=block');

:root {
    --cyan: hsl(179, 62%, 43%);
    --brightYellow: hsl(71, 73%, 54%);
    --lightGray: hsl(204, 43%, 93%);
    --grayishBlue: hsl(217, 22%, 67%);
    --sub-bg: hsl(179, 61%, 44%);
    --whyus-bg: hsl(179, 47%, 52%);
    --karla: 'Karla', sans-serif;
}

body {
    font-family: var(--karla);
    font-size: 16px;
    background-color: var(--lightGray);
}

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/** Single Price Component **/

.single-price {
    box-shadow: 0px 6px 49px -16px var(--grayishBlue);
    max-width: 635px;
    border-radius: 8px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pros {
    grid-column: 1 / 3;
    background-color: white;
    padding: 39px 40px 39px 40px;
}

.pro-title {
    font-size: 24px;
    font-weight: 700;
    color: var(--cyan);
    margin-bottom: 24px;
    letter-spacing: -0.3px;
    word-spacing: 0px;
}

.pro-subtitle {
    font-size: 18px;
    color: var(--brightYellow);
    margin-bottom: 10.5px;
    letter-spacing: -0.2px;
    word-spacing: 0px;
}

.pro-text {
    font-size: 15.5px;
    color: var(--grayishBlue);
    line-height: 27px;
    letter-spacing: 0.09px;
}

.subscription {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: var(--sub-bg);
    color: white;
    padding: 40px 0px 54px 40px;
}

.subscription-title {
    font-weight: 420;
    font-size: 17.6px;
    margin-bottom: 18px;
    letter-spacing: 0.3px;
}

.price {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 0px 12px;
}

.price p{
    font-size: 16px;
    color: #77dddf;
}

.price span {
    font-weight: 600;
    font-size: 32px;
    color: white;
    letter-spacing: 0.3px;
}

.sub-feature {
    font-size: 15.6px;
    font-weight: 300;
    margin-bottom: 45px;
    letter-spacing: 0.2px;
}

.signup {
    max-width: 238.7px;
    box-shadow: -1px 13px 26px -2px rgba(0,0,0,0.75);
}

.sign-btn {
    font-size: 15.5px;
    font-weight: 700;
    color: var(--lightGray);
    background-color: var(--brightYellow);
    border-radius: 4.5px;
    padding: 15px 90.5px;
}

.whyus {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--whyus-bg);
    padding: 40px 39px 39px 40px;
}

.whyus-title {
    font-weight: 420;
    font-size: 17.6px;
    color: white;
    margin-bottom: 19px;
    letter-spacing: 0.3px;
}

.why-list {
    color: var(--lightGray);
}

.why-list li {
    color: #a9ffff;
    font-size: 13.7px;
    margin-bottom: 4px;
}

@media screen and (max-width: 768px) {
    main {
        padding: 71px 32px 76px 32px;
    }

    .single-price {
        max-width: 311px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto auto auto;
        border-radius: 5px;
    }

    .pros {
        padding: 28px 24px 28px 24px;
    }

    .pro-title {
        font-size: 20px; 
    }

    .pro-subtitle {
        font-size: 15px;
        margin-bottom: 17px;
        line-height: 20px;
    }

    .pro-text {
        font-size: 13.5px;
        line-height: 26.5px;
    }

    .subscription {
        padding: 25px 24px 25px 24px;
    }

    .sub-feature {
        margin-bottom: 30px;
    }

    .signup {
        min-width: 100%;
        box-shadow: -1px 10px 45px -17px rgba(0,0,0,0.75);
    }

    .sign-btn {
        display: block;
        min-width: 100%;
        padding: 15px 0;
        text-align: center;
    }

    .whyus {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        padding: 25px 24px 23px 24px;
    }
}