@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=block");

*, html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}

body {
	background: hsl(218, 23%, 16%);
	font-family: 'Manrope', sans-serif;
	font-size: 100%;
}

.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 16px;
}

.adviceBox {
	max-width: 540px;
	background-color: hsl(217, 19%, 24%);
	border-radius: 15px;
	padding: 48px 47px 72px 47px;
	position: relative;
	display: grid;
	grid-template-rows: repeat(3, auto);
	position: relative;

	.adviceNo {
		font-size: 15px;
		font-weight: 600;
		color: hsl(150, 100%, 66%);
		text-transform: uppercase;
		letter-spacing: 3px;
		text-align: center;
		margin-bottom: 21px;
	}

	.advice {
		font-size: 28px;
		font-weight: 800;
		color: hsl(193, 38%, 86%);
		text-align: center;
		margin-bottom: 40px;
	}

	.divider {
		width: 100%;
		display: flex;
		justify-content: center;
		overflow: hidden;

		.dividerDesktop {
			display: block;
		}

		.dividerMobile {
			display: none;
		}
	}

	.adviceRoller {
		justify-self: center;
		position: absolute;
		bottom: -32px;
		width: 64px;
		height: 64px;
		background-color: hsl(150, 100%, 66%);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		cursor: pointer;
		transition: 0.3s;
		transform: scale(1);
		animation-duration: 0.8s;
		animation-iteration-count: 1;
		
		&:hover {
			transform: scale(1.04);
			box-shadow: 0 0 30px hsl(150, 100%, 66%);
		}

		&.disabled {
			background-color: #5a687d;
			transform: scale(0.95);

			&:hover {
				box-shadow: none;
			}
		}

		@keyframes throwDice {
			0% {
				transform: rotate(0deg);
			}

			100% {
				transform: rotate(360deg);
			}
		}

		img {
			width: 24px;
			height: 24px;
		}
	}
}

@media screen and (max-width: 656px) {
	.adviceBox {
		padding: 44px 16px 64px 16px;
		width: 100%;
	}

	.adviceNo {
		font-size: 13px;
	}

	.advice {
		font-size: 25px;
	}

	.divider {
		.dividerDesktop {
			display: none;
		}

		.dividerMobile {
			display: block;
		}
	}
}